body {
  font-family: Helvetica, Arial, sans-serif;
  position:middle;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background: #fbd2cb;
}

@media (max-width: 460px) {
  body {
    margin-left: 14px;
    margin-right: 14px;
  }
  .glitchButton .glitchButtonElement {
    margin: 0 !important;
    padding-right: 14px !important;
  }
  .glitchButton img {
    width: 20px;
  }
  h1 {
    font-size: 1.8em;
  }
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #d60000;
}

h1,
h2 {
  font-family: "IBM Plex Mono", serif;
  color: #d60000;
}

ul,
ol {
  padding-left: 40px;
}

b{
  color:#8B6E66
}

li {
  margin-bottom: 10px;
}

code {
  padding: 3px 5px;
  margin: 0 2px;
  white-space: nowrap;
  background-color: #f8f8f8;
  color: #E91E63;
  border-radius: 3px;
  font-size: 16px;
}

.formula code {
  background: transparent;
  color: black;
  white-space: normal;
}

.input-container {
  display: inline-block;
  margin-bottom: 14px;
}

label {
  line-height: 22px;
  color: black;
  font-size: 12px;
  display: block;
  font-weight: bold;
}

input {
  font: inherit;
  color: #333;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 2px solid #F8B3A3;
  width: 80px;
  margin-right: 14px;
}

.formula input {
  width: 60px;
  margin-right: 0;
}

button {
  background: #F8B3A3;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 18px;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.footer {
  position: relative;
  margin-top: 60px;
  font-size: 14px;
}
.footer::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  bottom: 30px;
  left: 0;
  border-bottom: 6px solid #F8B3A3;
}

.settings {
  padding: 14px;
  margin: 0 2px;
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #F8B3A3;
}
